$footer-bg: #bdc3d1;
$footer-nav-li: #d0d9ed;
$footer-nav-li-active: #353c4f;
$color-nav-li: #575e70;
$color-nav-li-hover: #353c4f;
$color-white: #fff;
$color-gray: #333; 

body{
	color: #fff;
	background: url('/www/images/bg.jpg');
	background-size: 100% auto;
	padding-top: 60px;
}

.log-in{
	float: left;
	list-style: outside none none;
	padding-left: 0;
	li{
		display: inline;
		float: left;
		padding-right: 10px;
	}
}
 
.log-in a{
	color: $color-white;
	font-size: 12px;
}

.find{
	margin-bottom: 10px;
    i{
    	text-align: left;
    	color: #cccccc;
    }
    .music-search{
		color: $color-white;
		background-color: #a4acbe;
	    border: 1px solid $footer-nav-li;
	    width: 100%;
	    height: 35px;
	    border-radius: 3px;
	    padding: 0 10px;
	    font-family: fontawesome;
	    box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	}
	.music-search:focus{
		border: 1px solid #7698BF;
	}

}

@media (max-width: 400px) {
	.find{
		width: auto;
	}
	
	.media-controllers i, .media-options i{
		font-size: 12px;
	}

}



.playlist{
	text-align: justify;
	&:after{
		content:"";
		display: inline-block;
		width: 100%;
}

.authors-wrapper, .songs-wrapper, .favorites-wrapper{
	display: inline-block;	
	overflow: hidden;
	border-left: 1px solid #D0D9ED;
	border-right: 1px solid #D0D9ED;
	border-top: 1px solid #D0D9ED;
	width: 32%;
	box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	}
}

.authors-header, .songs-header, .favorites-header{
	text-align: center;
	padding: 5px 0;
	background-color: #8a97b7;
	cursor: pointer;
	&:hover{
		background-color: #D0D9ED;
	}
}

.list-wrapper{
	background-color: #9ba8c7;
    height: 588px;
    overflow: hidden;
}


ul.authors, ul.songs, ul.favorites{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	background-color: #9ba8c7;	


	li{
		position: relative;	
		a{
			font-size: 12px;
			line-height: 28px;
			width: 100%;
			height: 100%;
			color: #fff;
			display: block;
			padding: 0 10px 0 20px;
			text-decoration: none;
			outline:none;
			text-align: left;
			&:hover{
				text-decoration: none;
				background-color: #353c4f;
			}
		}
	}
}

ul.authors{
	li{
		min-height: 28px;
		a.active{
			background-color: #353c4f;
		}
	}
}

ul.songs li, ul.favorites li{
	.playing:before{
		content: "\f04b";
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    font-size: 16px;
	    position: absolute;
	    left: 4px;
	}
}

.favorites-footer, .authors-footer, .songs-footer{
	text-align: center;
	background-color: #8a97b7;
	cursor: pointer;
	&:hover{
		background-color: #353c4f;
	}
	i{
		font-size: 24px;
		line-height: 32px;
		padding-right: 5px;		
	}
}

@media (min-width: 992px) {
	.music-wrapper{
		margin-top: 110px;
	}
}

.player{
	.player-image img{
		margin: 0 auto;
		box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	}

	hr.line-horizon{
		margin: 5px auto;
		border-color: #c0c6d2;
	}

	.music-info{
		color: $color-white;
		text-align: right;
		display: block;
		height: 20px;
		width: 100%;
	}

	.media-player{
		display: block;
		width: 100%;
		height: 55px;
		background-color: $footer-nav-li;
		box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
		border: 2px solid #DFE5F3;

		.progress{
		    	margin: 10px 0 0;
		    	height: 5px;
		    	cursor: pointer;
		    	border-radius: 1px;
		    	.progress-bar{
		    		
		    	}
		    }

		.media-controllers{
			width: 25%;
			height: 100%;
			float: left;
			padding: 15px 0;
			background-color: #9ba8c7;
			text-align: center;

			i{
				color: $footer-nav-li-active;
				line-height: 24px;
    			padding: 2px 4px;
    			cursor: pointer;
				&:hover{
					color: $color-white;
					// background-color: $footer-nav-li-active;
					// 
				}
			}
		}

		.media-toddler{
			display: inline-block;
		    height: 100%;
		    padding: 10px 5px 0;
		    width: 50%;
		    float: left;

		    .song-description{
		    	width: 100%;
		    	display: block;
		    	color: #333;
		    	height: 16px;
		    	font-size: 12px;
		    	white-space: nowrap;
		    	overflow: hidden;
		    }		    
		}

		.media-options{
			display: inline-block;
		    height: 100%;
		    padding: 6px 5px;
		    width: 25%;	
		    float: left;
		    text-align: center;

		    i{
		    	cursor: pointer;
		    	margin: 0px 2px;			
		    }
		    .active{
				color: #2B689C;	
			}	
		}
	} 
}

ul.socials{
	clear: both;
    display: block;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    padding: 0px;

    li { 
		margin: 0; 
		padding: 0; 
		list-style: none; 
		background: url(/www/images/sprite.png) no-repeat;
		text-align: center;
	}

	li, a{
		width: 30px; 
		height: 30px; 
		display: inline-block; 
		&:hover{
			transform: scale(1.1);
		}
	}

	li.fb{
		background-position: 0px 0px;
	}

	li.vk{
		background-position: -30px 0px;
	}

	li.twitter{
		background-position: -117px 0px;
	}

	li.bullhorn{
		background: none;
	}

	li i{
		font-size: 30px;
		line-height: 30px;
		float: left;
		color: #9BA8C7;
	}
}

ul.socials-login{
	clear: both;
    display: block;
    height: 30px;
    margin: 10px auto;
    text-align: center;
    width: 166px;

    li { 
		margin: 0; 
		padding: 0; 
		list-style: none; 
		background: url(/www/images/sprite.png) no-repeat;
	}

	li, a{
		width: 30px; 
		height: 30px; 
		display: block; 
		float: left; 
	}

	li.fb-login{
		background-position: 0px 0px;
	}

	li.vk-login{
		background-position: -29px 0px;
	}

	li.google-login{
		background-position: -146px 0px;
	}
}

.white-color{
	color: $color-white !important;
}

ul.stars{
	display: block;
	list-style-type: none;	
	clear: both;
	text-align: center;
	margin:10px 0px;
	padding: 0px;

	li{
		display: inline;	
		margin: 2px;
		cursor: pointer;
	}

	li i{
		font-size: 18px;
	}
}

footer{
	// height: 60px;
	background-color: #BDC3D1;
	margin-top: 60px;

	.nav-wrapper{
		height: 30px;
	}
	
	.slide-wrapper{
		width: 805px;
		overflow: hidden;
		float: left;
		height: 60px;
		margin-left: 40px;
	}

	@media (max-width: 767px){
		footer{
			height: auto !important;
		}

		ul.genres{
			display: none;
			margin:0;
			width: 100% !important;
			li{
				display: block !important;
				float: left !important;
				width: 48% !important;
			}
		}
		.nav-wrapper{
			height: auto;
		}
		.slide-wrapper{
			width: 100% !important;
			height: auto !important;
			margin: 0;
			position: relative;
		}
		.footer-toggle{
			text-align: center;
			height: 100%;
			font-size: 24px;
			clear: both;
			a{
				border: 2px solid;
			    border-radius: 3px;
			    color: #337AB7;
			    line-height: 60px;
			    padding: 6px;
			    text-decoration: none;
			    vertical-align: middle;
			}
		}
	}

	ul.genres{
		height: 100%;
		width: 1270px;			
		padding: 0;
			
			li{
				display: inline-block;
				list-style-type: none;
				position: relative;
				width: 85px;
				margin-right: 5px;
				height: 30px;
				float: left;
				line-height: 30px;
				background-color: #D0D9ED;
				text-align: center;
				cursor: pointer;
				box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
				&:hover{
					background-color: #353C4F;
				}
				&:hover a{
					color: #fff;
				}

				a{
					text-decoration: none;
					color: #333;
					height: 100%;
					width: 100%;
					display: inline-block;
					outline:none;
				}
				a.active{
					background-color: #353c4f;
					color: #fff !important;
				}
			}		 
		}		

		@media (max-width: 992px){
			.slide-wrapper{
				width: 535px;
			}
		}
		.nav-controls{
			height: 100%;			
			float: left;
			display: inline-block;

			i{
				line-height: 30px;
				font-size: 24px;
				cursor: pointer;
				padding: 0 10px;

				&:hover{
					color: #333;
				}
			}
		}
	}